{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div id="chu" class="modal-container">
        <form class="modal" action="{% url 'autenticacion:registrarse' %}" method="post">
            {% csrf_token %}
            <div class="zte-image">
                <h1 style="font-size:2.8vw;">La Gestion, al alcance de la mano.</h1>
                <p style="font-size:1.5vw;">Gestiona de La mejor manera los equipos¿Te lo vas a perder?</p>
            </div>
            <div class="content-form">
                <div class="divi"><input id="x" onclick="cerrar()" type="button" value="X"></div>
                <div class="divi2">REGISTRARSE</div>
                <div class="divi">NOMBRE DE USUARIO:</div>
                <div class="divi2"><input name="name" class="inputcito" type="text" required></div>
                <div class="divi">EMAIL:</div>
                <div class="divi2"><input name="email" class="inputcito" type="text" required></div>
                <div class="divi">CONTRASEÑA:</div>
                <div class="divi2"><input name="password" class="inputcito" type="password" required></div>
                <div class="divi">CONFIRMAR CONTRASEÑA:</div>
                <div class="divi2"><input name="password_confirmation" class="inputcito" type="password" required></div>
                <div class="divi3"><input id="bn" type="submit" value="REGISTRARSE"></div>
            </div>
        </form>
    </div>
</body>
</html>